<h1><%= %w{new create}.include?(action_name) ? 'New Question' : @question.title %></h1>

<%= form_for(@question) do |form|  %>
  <%= error_messages_for @question %>
<p>
  <%= form.label(:title) %><br/>
  <%= form.text_field(:title) %>
</p>

<p>
  <%= form.label(:description) %><br/>
  <%= form.text_area(:description, :rows => 3) %>
</p>

<p><%= form.submit %></p>

<% end %>
