<div class="rule_set">
  <%= form_for([:admin, @rule_set]) do |form|  %>
    <%= error_messages_for @rule_set %>
    <p>
      <%= form.label(:title) %><br/>
      <%= form.text_field(:title) %>
    </p>

    <p>
      <%= form.label(:description) %><br/>
      <%= form.text_area(:description, :rows => 3) %>
    </p>

    <p>
      <%= form.label(:url) %><br/>
      <%= form.text_field(:url) %>
    </p>
    
    <p>
      <%= form.label(:rule) %><br/>
      <%= form.text_area(:rule, :rows => 3) %>
    </p>

    <h3>Answers available for rule are</h3>
    <table>
    <% @rule_set.answers.order(:question_id).each do |answer| %>
      <tr>
        <td>a<%= answer.id %></td>
        <td><%= answer.value %></td> 
        <td><%= answer.question.title %></td>
      </tr>
    <% end %>
    </table>
    
    <h2>Questions</h2>

    <table class="selection">
      <% Question.all.each do |question| %>
        <tr>
          <td>
          <%=  question.title %>
          </td>
          <td class="options">
          <% question.answers.each do |answer| %>
            <%= label_tag "rule_set_answers_ids_#{answer.id}", answer.value %>
            <%= check_box_tag "rule_set[answer_ids][]", answer.id, @rule_set.answers.include?(answer) %>   
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <p><%= form.submit %></p>

  <% end %>
</div>