<div class="rule_set">
  <%= form_for([:admin, @rule_set]) do |form|  %>
    <%= error_messages_for @rule_set %>
    <p>
      <%= form.label(:title) %><br/>
      <%= form.text_field(:title) %>
    </p>

    <p>
      <%= form.label(:description) %><br/>
      <%= form.text_area(:description, :rows => 3) %>
    </p>

    <p>
      <%= form.label(:url) %><br/>
      <%= form.text_field(:url) %>
    </p>

    <p>
      <%= form.label(:link_text) %><br/>
      <%= form.text_field(:link_text) %><br/>
      When left blank: <em><%= t('rule_set.default_url_text') %></em>
    </p>
    
    <p>
      <%= form.label(:warning_id) %><br/>
      <%= form.select(:warning_id, Ominous::Warning.all.collect{|w| [w.name, w.id]}, :include_blank => 'None') %>
    </p>
    
    <% if @rule_set.id.present? %>
    <p>
      <%= form.label(:rule) %><br/>
      <%= form.text_area(:rule, :rows => 3) %>
    </p>

    <h3>Answers in rule format</h3>
    <p>
      Below is a list of answers with their identifiers as they should be used
      within the a rule. To add to this list, select the answer in the Questions
      list below.
    </p>
    
    <div id="selected_rule_set_answers">
      <%= render :partial => 'selected_rule_set_answers' %>
    </div>
    <% else %>
    <h2>Rule</h2>
    <p>
      On creation, a default rule will be generated. This will join with
      '<%= RuleSet::DEFAULT_RULE_JOIN %>'
      the answers you select below. You can then customise the rule via the
      edit option.
    </p>
    <% end %>
    
    <p><%= form.submit %></p>
    
    <h2>Questions</h2>

    <table class="selection <%= 'associated_questions' if @rule_set.id.present? %>">
      <% Question.all.each do |question| %>
        <tr>
          <td>
          <%=  question.title %>
          </td>
          <td class="options">
          <% question.answers.each do |answer| %>
            <%= label_tag "rule_set_answers_ids_#{answer.id}", answer.value %>
            <%= check_box_tag "rule_set[answer_ids][]", answer.id, @rule_set.answers.include?(answer) %>   
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <% end %>
</div>