<% if @rule_set.answers.length > RuleSet::ANSWERS_LIMIT %>
<div class="warn">
  <div class = "header">
    <h3>Too many answers</h3>
  </div>
  <p>You currently have <%= @rule_set.answers.length %> answers selected.</p>
  <p>
    Once you get above <%= RuleSet::ANSWERS_LIMIT %> answers in any rule, it 
    becomes difficult to show you the possible combination of answers that
    would match this rule set. This tool becomes slow, and your rule set will
    be too complex to be sure of its behaviour.
  </p>
  <p>It is recommended that you reduce the number of answers used in this rule</p>
</div>
<% end %>

<table>
  <tr>
    <th>Rule id</th>
    <th>Answer</th>
    <th>Question</th>
<% @rule_set.answers.order(:question_id).each do |answer| %>
  <tr>
    <td>a<%= answer.id %></td>
    <td><%= answer.value %></td> 
    <td><%= answer.question.title %></td>
  </tr>
<% end %>
</table>
<p>
  If the Rule is blank, the following rule will be created when this rule set 
  is saved:
<p>
<p class="rule_example"><%= @rule_set.default_rule %></p>
