<div>
  <%= content_tag('p', sanitize(@rule_set.description)) if @rule_set.description.present? %>
</div>

<div>
  <h3>Target url</h3>
  <p>
    <%= link_to @rule_set.url %><br/>
    "<%= @rule_set.link_text? ? @rule_set.link_text : t('rule_set.default_url_text') %>"
  </p>
</div>

<% if @rule_set.warning.present? %>
<div>
  <h3>Warning: <%= @rule_set.warning.name.humanize %></h3>
  <p>
    When this rule set is match, the <%= @rule_set.warning.name %> will be 
    triggered and the user will see a warning message (unless they have already
    dismissed this warning).
  </p>
</div>
<% end %>

<div>
  <h3>The rule</h3>
  <p><%= @rule_set.rule %></p>
</div>

<%  if @rule_set.matching_answer_sets.present? %>
<div>
  <h3>Sample matching answer sets</h3>
<%    if @rule_set.matching_answer_sets.length > 1 %>
  <p>
    There are at least <%= @rule_set.matching_answer_sets.length %> combinations 
    of answers that would pass this test.
  </p>
<%    end %>
  <p>The following combinations of answers would pass</p>
<%    @rule_set.matching_answer_sets.each do |answer_set| %>
  <ul class="matching_answers">
<%      answer_set.each do |answer_id| %>
    <li>(a<%= answer_id %>) <%=  question_summary_for(answer_id) %></li>
<%      end %>
  </ul>
<%    end %>
</div>
<%  end %>
    
<%  if @rule_set.blocking_answer_sets.present? %>
<div>
  <h3>Sample blocking answer sets</h3>
  <p>The following combinations of answers would not pass</p>
<%    @rule_set.blocking_answer_sets.each do |answer_set| %>
  <ul class="matching_answers">
<%      answer_set.each do |answer_id| %>
    <li>(a<%= answer_id %>) <%=  question_summary_for(answer_id) %></li>
<%      end %>
  </ul>
<%    end %>
</div>
<%  end %>
 

