<h1><%= %w{new create}.include?(action_name) ? 'New Questionnaire' : @questionnaire.title %></h1>

<%= form_for(@questionnaire, :html => { :multipart => true }) do |form|  %>
  <%= error_messages_for @questionnaire %>
<p>
  <%= form.label(:title) %><br/>
  <%= form.text_field(:title) %>
</p>

<p>
  <%= form.label(:description) %><br/>
  <%= form.text_area(:description, :rows => 3) %>
</p>

<p>
  <%= form.label(:button_image) %><br/>
  <%= form.file_field(:button_image) %>
</p>

<h2>Questions</h2>

<ul class="selection">
<% @questions.each do |question| %>
  <li>
    <%= check_box_tag("questions[id[#{question.id}]]", '1', @questionnaire.questions.include?(question)) %>
    <%= label_tag("questions_id_#{question.id}", question.title) %>
  </li>
<% end %>
</ul>

<p><%= form.submit %></p>

<% end %>
