<h1><%= @questionnaire.title %></h1>

<%  if @questionnaire.description.present? %>
<%= content_tag('p', @questionnaire.description) %>
<% else %> 
<h2>Questions</h2>
<% end %>

<%= form_for(@questionnaire, :url => answer_questionnaire_path(@questionnaire), :method => 'post') do |form| %>

<ul class="selection">
<% @questionnaire.questions.each do |question| %>
  <li>
    <%= content_tag('span', label_tag("answers_question_id_#{question.id}", question.title), :class => 'label') %>
    <span class="options">
      <%= answers_radio_buttons(
            question, 
            {
              :options => ['Yes', 'No', "Unsure"],
              :checked => current_answer_for(question, 'Unsure')
            }
          ) 
      %>
    </span>
  </li>
<% end %>
</ul>

<p><%= form.submit('Submit') %></p>
<% end %>