<h1><%= @questionnaire.title %></h1>

<%  if @questionnaire.description.present? %>
<%= content_tag('div', sanitize(@questionnaire.description), :class => 'admin_input') %>
<% else %> 
<h2>Questions</h2>
<% end %>

<%  if @questionnaire.answers.present? %>
<%=   form_for(@questionnaire, :url => questionnaire_path(@questionnaire)) do |form| %>

<ul class="selection">
<%=     form.fields_for(@questionnaire.answers, Answer) do |answer_form| %>
<%      @questionnaire.questions.each do |question| %>
  <li>
    <%= content_tag(
          'span', question.title,
          :class => "label#{' tooltip' if question.description?}",
          :title => question.description
        )
    %>

    <%= qwester_answers_selection_list(question) %>

  </li>
<%         end %>
<%      end %>
</ul>

<p>
  <%= form.submit('Submit', :class => 'btn btn-primary') %>
  <%= link_to('Back to the menu', questionnaires_path, :class => 'btn btn-info') %>
</p>
<%    end %>
<%  else %>
<p>There are no questions associated with this questionnaire</p>
<p>
  <%= link_to('Back to the menu', questionnaires_path, :class => 'btn btn-info') %>
</p>
<%  end %>
