<h1><%= @questionnaire.title %></h1>

<%  if @questionnaire.description.present? %>
<%= content_tag('div', sanitize(@questionnaire.description), :class => 'admin_input') %>
<% else %> 
<h2>Questions</h2>
<% end %>

<%= form_for(@questionnaire, :url => questionnaire_path(@questionnaire)) do |form| %>

<ul class="selection">
<% @questionnaire.questions.each do |question| %>
  <li>
    <%= content_tag('span', label_tag("answers_question_id_#{question.id}", question.title), :class => 'label') %>
    <span class="options">
      <%= answers_radio_buttons(
            question, 
            {
              :checked => current_answer_for(question, 'Unsure')
            }
          ) 
      %>
    </span>
  </li>
<% end %>
</ul>

<p>
  <%= form.submit('Submit') %>
  <%= link_to('Back to the menu', questionnaires_path) %>
</p>
<% end %>
