<div id="calculator">
  
  <div id="output"></div>
  
  <div id="one">
    <p>
      <%= label_tag(
            :understand,
            t('calculator.confirm_understanding'),
            :class => 'for_check_box'
          ) %>
      <%= check_box_tag(:understand) %>
    </p>
  </div>

  <div id="two" class="hide_at_start">
    <p><%= t 'calculator.description' %></p>
    <p>
      <%= label_tag(:couple, t('calculator.labels.couple'), :class => 'for_check_box') %>
      <%= check_box_tag(:couple) %>
    </p>

    <p>
      <%= sanitize t(
            'calculator.do_you_have_savings',
            :or_spouse => content_tag(
              'span',
              t('calculator.or_spouse'),
              :class => 'spouse'
            )
          )
      %>
    </p>
  
    <div class="columns">
<% @saving_types.each_slice(@saving_types.length / 2 + @saving_types.length % 2) do |column| %> 
      <div class ="column_pair">
<%   column.each do |saving_type| %>

        <p class="saving_type_input">
          <%= label_tag(saving_type, t("calculator.labels.#{saving_type}")) %>
          <%= text_field_tag(saving_type) %>
        </p>

<%   end %>
      </div>
<% end %>
    </div>

    <p>
      <%=
         sanitize t(
           'calculator.instructions',
           :and_spouse => content_tag(
             'span',
             t('calculator.and_spouse'),
             :class => 'spouse'
           )
         )
      %>
    </p>

    <p>
      <%= button_tag(t('calculator.labels.submit_button'), :id => 'calculate') %>
    </p>
  </div>
</div>