<div class="header">
  <h1><%= t 'reckoner.header.text' %></h1>
  <%= link_to(
        t('reckoner.links.make_bigger'),
        '#',
        :id => 'make_bigger',
        :class => 'ui-state-default ui-corner-all'
      )
  %>
  <%= link_to(
        t('reckoner.links.make_smaller'),
        '#',
        :id => 'make_smaller',
        :class => 'ui-state-default ui-corner-all'
      )
  %>
</div>
<div id="articles" class="normal">
  <div class="article current">
    <h2><%= t 'reckoner.articles.intro.title' %></h2>
    <p><%= t 'reckoner.articles.intro.generalise_who_is_funded' %></p>
    <p><%= t 'reckoner.articles.intro.care_assessment_needed' %></p>
  </div> 
  
  <div class="article">
    <p><%= t 'reckoner.articles.criteria.list_intro' %></p>
    
    <ul>
      <li>
        <%=
          sanitize t(
            'reckoner.articles.criteria.list.upper_single_threshold',
            :amount => @upper_savings_threshold.to_i
          )
        %>
      </li>
      <li>
        <%=
          sanitize t(
            'reckoner.articles.criteria.list.upper_couple_threshold',
            :amount => (@upper_savings_threshold * @couple_factor).to_i
          )
        %>
      </li>
      <li><%= t 'reckoner.articles.criteria.list.property_criteria' %></li>
    </ul>
  
    <p>
      <%=
        sanitize t(
          'reckoner.articles.criteria.lower_threshold',
          :single_lower_threshold => @lower_savings_threshold.to_i,
          :couple_lower_threshold => (@lower_savings_threshold * @couple_factor).to_i
        )
      %>
    </p>

    <p>
      <%= link_to( 
            t('reckoner.links.detailed_assessment'), 
            'http://www.warwickshire.gov.uk/assessments',
            :target => '_blank') %>
    </p>

    <p>
      <%= link_to( t('reckoner.links.calculator'), '#', :class => 'display_calculator') %>
    </p>

    <div id="calculator_dialog">
      <iframe src="/calculator" width="700" height="600" seamless="seamless" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div> 
  
  <div class="article">
    <p><%= t 'reckoner.articles.caveats.critical_care' %><p>
    <p><%= t 'reckoner.articles.caveats.not_eligible' %><p>
    <p><%= t 'reckoner.articles.caveats.personal_budget' %></p>
  </div>

  <div class="article">
    <h2><%= t 'reckoner.articles.self_support.title' %></h2>
    <p><%= t 'reckoner.articles.self_support.description' %></p>
     
    <p>
      <%= t 'reckoner.articles.self_support.when_to' %>
      <%= link_to(
            t('reckoner.articles.self_support.link_to_directory'),
            'https://directory.warwickshire.gov.uk/',
            :target => '_blank'
          ) %>
    </p>
  </div> 
  
  <div class="article">
    <p>
      <%= t 'reckoner.articles.self_assess.when_to' %>
    </p>
    <p>
      <%=  link_to(
             t('reckoner.articles.self_assess.link'), 
             questionnaires_path,
             :target => '_blank'
          ) %>
    </p>
  </div>


</div>
<div class="nav">
  <a href="#" id="previous"><%= t 'reckoner.links.nav.previous' %></a>
  <a href="#" id="next"><%= t 'reckoner.links.nav.next' %></a>
</div>   

