<div class="rule_set">
  <%= form_for([:admin, @rule_set]) do |form|  %>
    <%= error_messages_for @rule_set %>
    <p>
      <%= form.label(:title) %><br/>
      <%= form.text_field(:title) %>
    </p>

    <p>
      <%= form.label(:description) %><br/>
      <%= form.text_area(:description, :rows => 3) %>
    </p>

    <p>
      <%= form.label(:url) %><br/>
      <%= form.text_field(:url) %>
    </p>

    <h2>Questions</h2>

    <table class="selection">
      <% Question.all.each do |question| %>
        <tr>
          <td>
          <%= check_box_tag("questions[id[#{question.id}]]", '1', @rule_set.questions.include?(question)) %>
          <%= label_tag("questions_id_#{question.id}", question.title) %>
          </td>
          <td class="options">
          <%= answers_radio_buttons(
                question,
                {
                  :checked => @rule_set.value_for(question)
                }
              )
          %>
          </td>
        </tr>
      <% end %>
    </table>

    <p><%= form.submit %></p>

  <% end %>
</div>