<!DOCTYPE html>
<html>
<head>
  <title><%= page_title 'Questionnaire' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class='style-1'>

  <%= render_remote_partial 'tpheadersa1' %>

  <%= ominous_warnings %>
  
  <%= javascript_tag do %>
    $(function() {
      $('#wrapper').jfontsize();
    });
  <% end %>

  <div id="wrapper">
    
  <div class='container'>

    <%= ominous_warnings %>

      <div class="nav-buttons">
        <a id="jfontsize-minus" href="#"><%= image_tag('decrease_font.png') %></a>
        <a id="jfontsize-default" href="#"><%= image_tag('default_font.png') %></a>
        <a id="jfontsize-plus" href="#"><%= image_tag('increase_font.png') %></a>
        <%= link_to(image_tag('help.png'), guides_path) %>
        <%#= link_to(image_tag('mydex-logo.png'), 'https://sbx.mydex.org/', :target => '_blank') %>
      </div>
      
      <%= render 'shared/flash_messages' %>

      <%= yield %>

    </div>

      <%= google_analytics %>

  </div>
  
  <%= render_remote_partial 'tpfootersa' %>

  <%= javascript_tag do %>
    $(function() {
      $('.container').jfontsize();
    });
  <% end %>
</body>
</html>
