<!DOCTYPE html>
<html>
<head>
  <title><%= page_title 'Questionnaire' %></title>
  <%= render 'shared/wcc_head' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= ominous_warnings %>
  <div id="wrapper">
    
    <%= render 'shared/wcc_top_nav' %> 

    <div id="body-wrapper">
      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </div>
    <%= render 'shared/wcc_footer' %> 

  </div>
</body>
</html>
