<!DOCTYPE html>
<html>
<head>
  <title><%= page_title 'Questionnaire' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= WccStyling.style_class %>'>

  <%= render WccStyling.header_for(request) %>

  <%= ominous_warnings %>
  
  <div class='container'>

    <div class="nav-buttons">
      <a id="jfontsize-minus" href="#" class="btn small_text">&#45;A</a>
      <a id="jfontsize-default" href="#" class="btn">A</a>
      <a id="jfontsize-plus" href="#" class="btn large_text">&#43;A</a>
      <%= link_to('Help', guides_path, class: "btn btn-info") %>
      <%#= link_to(image_tag('mydex-logo.png'), 'https://sbx.mydex.org/', :target => '_blank') %>
    </div>

    <div class="resizeable">
      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </div>

  </div>

  <%= google_analytics %>
  
  <%= render WccStyling.footer %>

  <%= javascript_tag do %>
    $(function() {
      $('.resizeable').jfontsize();
    });
  <% end %>
</body>
</html>
