<!DOCTYPE html>
<html>
<head>
  <title>WCC Self Support</title>
  <%= render 'shared/wcc_head' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= javascript_tag do %>
    $(function() {
      showAsTabs('#tabs');
    });
  <% end %>
    
  <%= ominous_warnings %>  
  
  <div id="wrapper">
    
    <%= render 'shared/wcc_top_nav' %> 
    
    <div id="body-wrapper">
      
      <h1>WCC Self Support</h1>
      
      <div class="nav-buttons">
        <%= link_to(image_tag('mydex-logo.png'), 'https://sbx.mydex.org/', :target => '_blank') %>
      </div>

      <div id="tabs">
        <ul>
          <li><%= link_to('Home', '#questionnaires') %></li>
        <% @rule_sets.each do |rule_set| %>
          <li class="rule_matches">
            <%= link_to(rule_set.title, "#rule_set_#{rule_set.id}") %>
            <span class="ui-icon ui-icon-close">Remove Tab</span>
          </li>
        <% end %>
          <%= content_tag('li', link_to('Summary', '#summary')) if @qwester_answer_store and @qwester_answer_store.answers.present? %>
          <li class="link_to_external"><%= link_to('Directory', 'https://directory.warwickshire.gov.uk/', :target => '_blank') %></li>
        </ul>

        <div id="questionnaires">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>

        <% @rule_sets.each do |rule_set| %>
        <%= tag_page("rule_set_#{rule_set.id}", rule_set_path(rule_set)) %>
        <% end %>
        <%= tag_page('summary', answers_path) if @qwester_answer_store and @qwester_answer_store.answers.present? %>
      </div>

    <%= content_tag(
          'p', 
          link_to(
            'Clear answers and start again', 
            reset_questionnaires_path,
            :onclick => "return confirm('Are you sure you want to clear all your answers?')"
          )
        ) if @rule_sets.present? %>
    
    </div>  
    <%= render 'shared/wcc_footer' %>  
  </div>
</body>
</html>
