<!DOCTYPE html>
<html>
<head>
  <title><%= page_title 'Questionnaire' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= WccStyling.style_class %>'>
   
  <%= render WccStyling.header_for(request) %>

  <%= ominous_warnings %>
  
  <div class='container'>
   
      <h1 class='headline'>On-line Self-Support</h1>
      
      <div class="nav-buttons">
        <a id="jfontsize-minus" href="#" class="btn small_text">&#45;A</a>
        <a id="jfontsize-default" href="#" class="btn">A</a>
        <a id="jfontsize-plus" href="#" class="btn large_text">&#43;A</a>
        <%= link_to('Help', guides_path, class: "btn btn-info") %>
        <%= link_to('Save', answers_path(format: :pdf), class: "btn btn-info") if @qwester_answer_store and @qwester_answer_store.answers.present? %>
        <%#= link_to(image_tag('mydex-logo.png'), 'https://sbx.mydex.org/', :target => '_blank') %>
      </div>

      <div class="resizeable">
        <%= presentation_description %>

        <div id="tabs">
          <ul>
            <li><%= link_to((@questionnaire ? 'Current' : 'Questionnaires'), '#questionnaires') %></li>
          <% @rule_sets.each do |rule_set| %>
            <li class="rule_matches">
              <%= link_to(rule_set.title, "#rule_set_#{rule_set.id}") %>
              <span class="ui-icon ui-icon-close">Remove Tab</span>
            </li>
          <% end %>
            <%= content_tag(
                  'li',
                  link_to('Summary', answers_path),
                  :class => "link_to_external"
                ) if @qwester_answer_store and @qwester_answer_store.answers.present? %>
            <li class="link_to_external">
              <%= link_to('Directory', 'https://directory.warwickshire.gov.uk/', :target => '_blank') %>
            </li>
          </ul>

          <div id="questionnaires">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>

          <% @rule_sets.each do |rule_set| %>
          <%= display_rule_set(rule_set, "rule_set_#{rule_set.id}") %>
          <% end %>
        </div>

        <%= content_tag(
              'p',
              link_to(
                'Clear answers and start again',
                reset_questionnaires_path,
                :onclick => "return confirm('Are you sure you want to clear all your answers?')",
                :class => 'btn'
              )
            ) if @qwester_answer_store and @qwester_answer_store.answers.present?
        %>
      </div>
     
  </div>

  <%= render WccStyling.footer %>

  <%= javascript_tag do %>
    $(function() {
      showAsTabs('#tabs');
      closeTabActions();
      $('.resizeable').jfontsize();
    });
  <% end %>

  <%= google_analytics %>
</body>
</html>
