<!DOCTYPE html>
<html>
<head>
  <title>WCC Self Support</title>
  <%= render 'shared/wcc_head' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= javascript_tag do %>
    $(function() {
      showAsTabs('#tabs');
    });
  <% end %>
    
  <%= ominous_warnings %>  
  
  <div id="wrapper">
    
    <%= render 'shared/wcc_top_nav' %> 
    
    <div id="body-wrapper">

      <div id="tabs">
        <ul>
          <li><%= link_to('Home', '#questionnaires') %></li>
        <% @rule_sets.each do |rule_set| %>
          <li>
            <%= link_to(rule_set.title, "#rule_set_#{rule_set.id}") %>
            <span class="ui-icon ui-icon-close">Remove Tab</span>
          </li>
        <% end %>
          <li><%= link_to('Directory', '#directory') %></li>
        </ul>

        <div id="questionnaires">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>

        <% @rule_sets.each do |rule_set| %>
        <%= tag_page("rule_set_#{rule_set.id}", rule_set_path(rule_set)) %>
        <% end %>

        <%= tag_page('directory', 'https://directory.warwickshire.gov.uk/') %>
      </div>

    <%= content_tag('p', link_to('Clear answers and start again', reset_questionnaires_path)) if @rule_sets.present? %>
    
    </div>  
    <%= render 'shared/wcc_footer' %>  
  </div>
</body>
</html>
