<div class="warning">
  <div class="heading">
    <h2>Before you continue ...</h2>
  </div>
  <p>
    <%= t 'warning.cope_index.message' %>
  </p>

  <div class="options">

    <p>Please select one of the options below.</p>

    <ul>
      <li>
        <%= link_to(
              t('warning.cope_index.actions.go_to_care_assessment_page'),
              Setting.for(:community_care_assessment_url)
            ) %>
      </li>

      <li>
        <%= link_to(
              t('warning.cope_index.actions.had_care_assessment'),
              '/warning/cope_index/?set=hide',
              :class => "hide_options"
            ) %>
      </li>

      <li>
        <%= link_to(
              t('warning.cope_index.actions.had_financial_assessment'),
              '/warning/cope_index/?set=hide',
              :class => "hide_options"
            ) %>
      </li>

      <li>
        <%= link_to(
              t('warning.cope_index.actions.prefer_self_funding'),
              '/warning/cope_index/?set=hide',
              :class => "hide_options"
            ) %>
      </li>
    </ul>

  </div>

  <div class="hide_at_start">
    <p><%= t 'warning.cope_index.continue_message' %></p>
    <p><%= link_to(t('warning.cope_index.actions.close_dialog'), '#', :class => "close")  %></p>
  </div>

</div>